body{
    background-color: rgb(255, 255, 255);
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
footer{
    display: flex;
    justify-content: center;
    gap: 30px;
    overflow-wrap: break-word;
}
.footer-contact img{
 width: 35px;
}
html{
    scroll-behavior: smooth;
}
a{
    color: inherit;
}









.header{
    padding: 0%;
    margin: 0%;
    background-color: rgb(255, 255, 255);
    border: none;              /* прибираємо повну рамку */
    border-bottom: 1px solid #000000;  /* тільки нижня лінія */
    outline: none;  
    position: relative;
    display: flex;
    justify-content: space-between; /* лого зліва, кнопки справа */
    align-items: center;
}
.header img{
    width: 125px;
    margin-left: 2%;
  
}
.header-button{
    margin-right: 2%;
    display: flex;
    gap: 40px;
    flex-wrap: wrap; /* якщо мало місця — перенесе вниз */
    font-size: 115%;
}
.header-button a{
    text-decoration: none;
}

.catalog-button{
     transition: 0.2s;
}
.aboutUs-button{
     transition: 0.2s;
}
.contact-button{
     transition: 0.2s;
}
.catalog-button:hover{
    cursor: pointer; 
    transform: scale(1.10);
}
.aboutUs-button:hover{
    cursor: pointer; 
    transform: scale(1.05);
}
.contact-button:hover{
    cursor: pointer; 
    transform: scale(1.05);
}










.welcome-block{
 display: flex;
 justify-content: space-between;
 margin: 2%;
}
.welcome-text{
    margin: 1%;
}
.welcome-text p{
    font-size: clamp(12px, 2vw, 18px);
}
.welcome-block h1{
font-size: clamp(40px, 5vw, 60px);
    margin: 5%;
}
.welcome-block img{
    width: 20%;
    height: 20%;
    min-width: 20%;
    max-height: 20%;
    margin-top: 2%;
    object-fit: cover; /* головне */
}

.welcome-button{
    display: flex;
    gap: 30px;
}
.welcome-button a{
    text-decoration: none;
}


.LearnMoreButton{
    text-align: center;
    width: 25%;
    background-color: #ffffff;
    border: 2px  solid black;
    transition: 0.3s;
    
}
.LearnMoreButton:hover{
    width: 30%;
    cursor: pointer;
}
.learnMore{
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(255, 255, 255, 0.932);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.learnMore p{
    word-wrap: inherit ;
}



.GetStartedButton{
    text-align: center;
    width: 25%;
    background-color: #000000;
    border: 2px  solid rgb(0, 0, 0); 
    color: #ffffff;
    transition: 0.3s;
    
}
.GetStartedButton:hover{
    cursor: pointer;
    width: 30%;
}









.top-item{
    text-align: center;
    width: 80%;
    margin: 50px auto;
    overflow: hidden;
}
.slider{
    display: flex;
    gap: 25px;
    animation: slide 20s linear infinite;
}
.top-item img{
    width: 17%;
    height: auto;
}





.container-productH1{
    margin-top: 15%;
}

.container-product{
    text-align: center;
    align-items: center;
    width: 85%;
    height: auto;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    margin: auto;
}
.container-product img{
   width: 70%;
   transition: 0.3s;
}
.container-product img:hover{
    transform: scale(1.03);
    cursor: pointer;
  
}
.product{
     width: calc(33.333% - 14px); /* 3 в ряд */
}






/* Анімація вліво */
@keyframes slide{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-50%);
    }
}


@media (max-width:1292px){
    .welcome-block{
        flex-direction: column; /* ставить все вертикально */
         align-items: center; /* 🔥 оце центрує по горизонталі */
    }
    .welcome-block img{
        width: 60%; /* щоб нормально виглядала */
        height: auto;
        
    }

    .top-item{
    width: 80%;
    }
    .top-item img{
    min-width: 20%;
    width: 12%;
    height: auto;
    }
}




@media (max-width: 768px){
    footer{
        overflow-wrap: break-word;
    }






  .header-button{
        gap: 20px; /* 🔥 ось тут має бути */
    }
    .header-button p{
        font-size: 80%;
    }


    




    .welcome-block{
        flex-direction: column; /* ставить все вертикально */
         align-items: center; /* 🔥 оце центрує по горизонталі */
    }
    .welcome-block img{
        width: 90%; /* щоб нормально виглядала */
        height: auto;
    }
    .welcome-button{
    width: 150%;
    display: flex;
    gap: 20px;
    }







    .top-item{
    width: 94%;
    }
    .top-item img{
    min-width:40%;
    width: 12%;
    height: auto;
    }
    .slider{
    gap: 12px;
    }






    .learnMore {
    flex-wrap: wrap;
   }
    .learnMore p{
    font-size: 80%;
    margin: 10%;
   }
   .closeLearmMoreContent{
    margin-right: 2%;
   }







   .container-product img{
   width: 95%;
   }
   .product{
     width: calc(52.000% - 14px); /* 3 в ряд */
    }
    .container-product{
    width: 100%;
    gap: 10px;
   }
}